
.container
	
	.image
	.form
		.fa.fa-user
			input.user(
			value='RS-C-137'
			readonly="readonly"   
      onfocus="this.blur();" 
      tabindex="-1"          
			)
		.line
		.fa.fa-envelope
			input.email(
			value='riggitywrecked@unity.hive'
			readonly="readonly"   
      onfocus="this.blur();" 
      tabindex="-1" 
			)
		.line
		.fa.fa-lock
			input.lock(
			value='********'
			readonly="readonly"   
      onfocus="this.blur();" 
      tabindex="-1" 
			)
		.line
		button.btn.btn-default 
			span Get Schwifty
	.hidden
		
		div.x X
	

		